// Default font-family
$OpenSans: 'Open Sans', Helvetica, Arial, sans-serif !default;

// Reset font size
$RootFontSize: 15px !default;

// Font sizes
$L: 1.2rem; // 18px
$M: 1rem; // 15px
$S: 0.8rem; // 12px

// Font weight
$Regular: 400 !default;
$Bold: 600 !default;

// General colors
$White: #FFFFFF !default;
$LightGrey: #EDF2F4 !default;
$Grey: #C4C9CC !default;
$DarkGrey: #929699 !default;
$Text: #313233 !default;
$FooterBackground: #1e1e1e !default;

$PrimaryBlue: #074E9B !default;
$SecondaryBlue: #032257 !default;

// Container max width
$MaxWidth: 1200px !default;
