@import '../../styles/abstracts/Variables';

#Email,
#Password {
    width: 20rem;
}

.HeroContainer {
    height: 50rem;
    background: url('../../assets/hero-background.jpg') center no-repeat;
}

.GoToLogin {
    font-size: $S;
    margin-left: 1rem;
    margin-top: 0.5rem;
}