@import '../../styles/abstracts/variables';

.HeaderComponent {
    width: 100%;
    height: 80px;
    background-color: $White;
    border-bottom: 1px solid $Grey;

    .HeaderContainer {
        width: 92%;
    }
}

.LogoContainer {
    padding: 1rem 0 0.7rem 0;

    .Logo {
        width: 135px;
    }
}

.NavigationContainer {
    align-self: center;
}