@import '../../styles/main';

.HeaderComponent{
	width: 100%;
	height: 80px;
	background-color: $White;
	border-bottom: 1px solid $Grey;

	.HeaderContainer{
		display: flex;
		justify-content: space-between;
	}
}

.LogoContainer{
	padding: 1rem 0 0.7rem 0;

	.Logo{
		width: 135px;
	}
}

.NavigationContainer{
	align-self: center;
}
